BankRESTServiceApp3/src/conf/xml-resources/web-service-references/UnionBankValidatorSOAP/wsdl/Lesego_8080/UnionBankValidatorSOAP/UnionBankValidatorSOAP.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://jws.validator.ac.za/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://jws.validator.ac.za/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="fowardClientUser" type="tns:fowardClientUser"/>

<xs:element name="fowardClientUserResponse" type="tns:fowardClientUserResponse"/>

<xs:element name="fowardEditUser" type="tns:fowardEditUser"/>

<xs:element name="fowardEditUserResponse" type="tns:fowardEditUserResponse"/>

<xs:element name="fowardRemoveUser" type="tns:fowardRemoveUser"/>

<xs:element name="fowardRemoveUserResponse" type="tns:fowardRemoveUserResponse"/>

<xs:complexType name="fowardEditUser">
<xs:sequence>
<xs:element name="userXml" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fowardEditUserResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fowardRemoveUser">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fowardRemoveUserResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="fowardClientUser">
<xs:sequence>
<xs:element name="userXml" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fowardClientUserResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>