LOAN_MANAGEMENT_SYSTEM/BankRESTApp/src/conf/xml-resources/web-service-references/BankTransformerWebService/wsdl/localhost_8080/BankTransformerWebService/BankTransformerWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://jws.tranformer.com.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://jws.tranformer.com.org/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="forwardCustomer" type="tns:forwardCustomer"/>

<xs:element name="forwardCustomerResponse" type="tns:forwardCustomerResponse"/>

<xs:element name="forwardDelete" type="tns:forwardDelete"/>

<xs:element name="forwardDeleteResponse" type="tns:forwardDeleteResponse"/>

<xs:element name="forwardUpdate" type="tns:forwardUpdate"/>

<xs:element name="forwardUpdateResponse" type="tns:forwardUpdateResponse"/>

<xs:element name="getApplicationStatus" type="tns:getApplicationStatus"/>

<xs:element name="getApplicationStatusResponse" type="tns:getApplicationStatusResponse"/>

<xs:complexType name="forwardDelete">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="forwardDeleteResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="forwardCustomer">
<xs:sequence>
<xs:element name="customerXML" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="forwardCustomerResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="forwardUpdate">
<xs:sequence>
<xs:element name="customerXML" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="forwardUpdateResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getApplicationStatus">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getApplicationStatusResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>