UnionBankValidator/src/conf/xml-resources/web-service-references/UnionSOAPService/wsdl/localhost_8080/UnionSOAPService/UnionSOAPService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jws.union.ac.za/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://jws.union.ac.za/" name="UnionSOAPService">
<types>
<xsd:schema>
<xsd:import namespace="http://jws.union.ac.za/" schemaLocation="http://localhost:8080/UnionSOAPService/UnionSOAPService?xsd=1"/>
</xsd:schema>
</types>
<message name="createClient">
<part name="parameters" element="tns:createClient"/>
</message>
<message name="createClientResponse">
<part name="parameters" element="tns:createClientResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="removeClient">
<part name="parameters" element="tns:removeClient"/>
</message>
<message name="removeClientResponse">
<part name="parameters" element="tns:removeClientResponse"/>
</message>
<message name="editClient">
<part name="parameters" element="tns:editClient"/>
</message>
<message name="editClientResponse">
<part name="parameters" element="tns:editClientResponse"/>
</message>
<message name="findAllClients">
<part name="parameters" element="tns:findAllClients"/>
</message>
<message name="findAllClientsResponse">
<part name="parameters" element="tns:findAllClientsResponse"/>
</message>
<message name="findClient">
<part name="parameters" element="tns:findClient"/>
</message>
<message name="findClientResponse">
<part name="parameters" element="tns:findClientResponse"/>
</message>
<portType name="UnionSOAPService">
<operation name="createClient">
<input wsam:Action="http://jws.union.ac.za/UnionSOAPService/createClientRequest" message="tns:createClient"/>
<output wsam:Action="http://jws.union.ac.za/UnionSOAPService/createClientResponse" message="tns:createClientResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.union.ac.za/UnionSOAPService/createClient/Fault/Exception"/>
</operation>
<operation name="removeClient">
<input wsam:Action="http://jws.union.ac.za/UnionSOAPService/removeClientRequest" message="tns:removeClient"/>
<output wsam:Action="http://jws.union.ac.za/UnionSOAPService/removeClientResponse" message="tns:removeClientResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.union.ac.za/UnionSOAPService/removeClient/Fault/Exception"/>
</operation>
<operation name="editClient">
<input wsam:Action="http://jws.union.ac.za/UnionSOAPService/editClientRequest" message="tns:editClient"/>
<output wsam:Action="http://jws.union.ac.za/UnionSOAPService/editClientResponse" message="tns:editClientResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.union.ac.za/UnionSOAPService/editClient/Fault/Exception"/>
</operation>
<operation name="findAllClients">
<input wsam:Action="http://jws.union.ac.za/UnionSOAPService/findAllClientsRequest" message="tns:findAllClients"/>
<output wsam:Action="http://jws.union.ac.za/UnionSOAPService/findAllClientsResponse" message="tns:findAllClientsResponse"/>
</operation>
<operation name="findClient">
<input wsam:Action="http://jws.union.ac.za/UnionSOAPService/findClientRequest" message="tns:findClient"/>
<output wsam:Action="http://jws.union.ac.za/UnionSOAPService/findClientResponse" message="tns:findClientResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.union.ac.za/UnionSOAPService/findClient/Fault/Exception"/>
</operation>
</portType>
<binding name="UnionSOAPServicePortBinding" type="tns:UnionSOAPService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="removeClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="editClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="findAllClients">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="UnionSOAPService">
<port name="UnionSOAPServicePort" binding="tns:UnionSOAPServicePortBinding">
<soap:address location="http://localhost:8080/UnionSOAPService/UnionSOAPService"/>
</port>
</service>
</definitions>