LOAN_MANAGEMENT_SYSTEM/applicantXSD.xsd

<?xml version="1.0"?>
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">    
    <xs:element name="applicant" type="applicantType"/>   
    <xs:complexType name="applicantType">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="surname" type="xs:string"/>
            <xs:element name="idNumber" type="xs:long"/>
            <xs:element name="loanAmount" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>   
</xs:schema>
