LOAN_MANAGEMENT_SYSTEM/BankTransformerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jws.tranformer.com.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://jws.tranformer.com.org/" name="BankTransformerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://jws.tranformer.com.org/" schemaLocation="http://localhost:8080/BankTransformerWebService/BankTransformerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getApplicationStatus">
<part name="parameters" element="tns:getApplicationStatus"/>
</message>
<message name="getApplicationStatusResponse">
<part name="parameters" element="tns:getApplicationStatusResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="forwardDelete">
<part name="parameters" element="tns:forwardDelete"/>
</message>
<message name="forwardDeleteResponse">
<part name="parameters" element="tns:forwardDeleteResponse"/>
</message>
<message name="forwardCustomer">
<part name="parameters" element="tns:forwardCustomer"/>
</message>
<message name="forwardCustomerResponse">
<part name="parameters" element="tns:forwardCustomerResponse"/>
</message>
<message name="forwardUpdate">
<part name="parameters" element="tns:forwardUpdate"/>
</message>
<message name="forwardUpdateResponse">
<part name="parameters" element="tns:forwardUpdateResponse"/>
</message>
<portType name="BankTransformerWebService">
<operation name="getApplicationStatus">
<input wsam:Action="http://jws.tranformer.com.org/BankTransformerWebService/getApplicationStatusRequest" message="tns:getApplicationStatus"/>
<output wsam:Action="http://jws.tranformer.com.org/BankTransformerWebService/getApplicationStatusResponse" message="tns:getApplicationStatusResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.tranformer.com.org/BankTransformerWebService/getApplicationStatus/Fault/Exception"/>
</operation>
<operation name="forwardDelete">
<input wsam:Action="http://jws.tranformer.com.org/BankTransformerWebService/forwardDeleteRequest" message="tns:forwardDelete"/>
<output wsam:Action="http://jws.tranformer.com.org/BankTransformerWebService/forwardDeleteResponse" message="tns:forwardDeleteResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.tranformer.com.org/BankTransformerWebService/forwardDelete/Fault/Exception"/>
</operation>
<operation name="forwardCustomer">
<input wsam:Action="http://jws.tranformer.com.org/BankTransformerWebService/forwardCustomerRequest" message="tns:forwardCustomer"/>
<output wsam:Action="http://jws.tranformer.com.org/BankTransformerWebService/forwardCustomerResponse" message="tns:forwardCustomerResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.tranformer.com.org/BankTransformerWebService/forwardCustomer/Fault/Exception"/>
</operation>
<operation name="forwardUpdate">
<input wsam:Action="http://jws.tranformer.com.org/BankTransformerWebService/forwardUpdateRequest" message="tns:forwardUpdate"/>
<output wsam:Action="http://jws.tranformer.com.org/BankTransformerWebService/forwardUpdateResponse" message="tns:forwardUpdateResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.tranformer.com.org/BankTransformerWebService/forwardUpdate/Fault/Exception"/>
</operation>
</portType>
<binding name="BankTransformerWebServicePortBinding" type="tns:BankTransformerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getApplicationStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="forwardDelete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="forwardCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="forwardUpdate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="BankTransformerWebService">
<port name="BankTransformerWebServicePort" binding="tns:BankTransformerWebServicePortBinding">
<soap:address location="http://localhost:8080/BankTransformerWebService/BankTransformerWebService"/>
</port>
</service>
</definitions>