ANCPartyTransformerSOAPWebServiceApp/src/conf/xml-resources/web-service-references/DeptOfHomeAffairsSOAPWebService/wsdl/Selepe_8080/DeptOfHomeAffairsSOAPWebService/DeptOfHomeAffairsSOAPWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jws.dha.org.za/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://jws.dha.org.za/" name="DeptOfHomeAffairsSOAPWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://jws.dha.org.za/" schemaLocation="http://Selepe:8080/DeptOfHomeAffairsSOAPWebService/DeptOfHomeAffairsSOAPWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="removeResponse">
<part name="parameters" element="tns:removeResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="editResponse">
<part name="parameters" element="tns:editResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="DeptOfHomeAffairsSOAPWebService">
<operation name="remove">
<input wsam:Action="http://jws.dha.org.za/DeptOfHomeAffairsSOAPWebService/removeRequest" message="tns:remove"/>
<output wsam:Action="http://jws.dha.org.za/DeptOfHomeAffairsSOAPWebService/removeResponse" message="tns:removeResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.dha.org.za/DeptOfHomeAffairsSOAPWebService/remove/Fault/Exception"/>
</operation>
<operation name="find">
<input wsam:Action="http://jws.dha.org.za/DeptOfHomeAffairsSOAPWebService/findRequest" message="tns:find"/>
<output wsam:Action="http://jws.dha.org.za/DeptOfHomeAffairsSOAPWebService/findResponse" message="tns:findResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.dha.org.za/DeptOfHomeAffairsSOAPWebService/find/Fault/Exception"/>
</operation>
<operation name="create">
<input wsam:Action="http://jws.dha.org.za/DeptOfHomeAffairsSOAPWebService/createRequest" message="tns:create"/>
<output wsam:Action="http://jws.dha.org.za/DeptOfHomeAffairsSOAPWebService/createResponse" message="tns:createResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.dha.org.za/DeptOfHomeAffairsSOAPWebService/create/Fault/Exception"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://jws.dha.org.za/DeptOfHomeAffairsSOAPWebService/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://jws.dha.org.za/DeptOfHomeAffairsSOAPWebService/findAllResponse" message="tns:findAllResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.dha.org.za/DeptOfHomeAffairsSOAPWebService/findAll/Fault/Exception"/>
</operation>
<operation name="edit">
<input wsam:Action="http://jws.dha.org.za/DeptOfHomeAffairsSOAPWebService/editRequest" message="tns:edit"/>
<output wsam:Action="http://jws.dha.org.za/DeptOfHomeAffairsSOAPWebService/editResponse" message="tns:editResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.dha.org.za/DeptOfHomeAffairsSOAPWebService/edit/Fault/Exception"/>
</operation>
<operation name="hello">
<input wsam:Action="http://jws.dha.org.za/DeptOfHomeAffairsSOAPWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://jws.dha.org.za/DeptOfHomeAffairsSOAPWebService/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="DeptOfHomeAffairsSOAPWebServicePortBinding" type="tns:DeptOfHomeAffairsSOAPWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DeptOfHomeAffairsSOAPWebService">
<port name="DeptOfHomeAffairsSOAPWebServicePort" binding="tns:DeptOfHomeAffairsSOAPWebServicePortBinding">
<soap:address location="http://Selepe:8080/DeptOfHomeAffairsSOAPWebService/DeptOfHomeAffairsSOAPWebService"/>
</port>
</service>
</definitions>