LOAN_MANAGEMENT_SYSTEM/BankLoanTranformerSOAP/src/conf/xml-resources/web-service-references/UNIONSOAPWebService/wsdl/localhost_8080/UNIONSOAPWebService/UNIONSOAPWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jws.union.com.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://jws.union.com.org/" name="UNIONSOAPWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://jws.union.com.org/" schemaLocation="http://localhost:8080/UNIONSOAPWebService/UNIONSOAPWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="removeApplicant">
<part name="parameters" element="tns:removeApplicant"/>
</message>
<message name="removeApplicantResponse">
<part name="parameters" element="tns:removeApplicantResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="findApplicant">
<part name="parameters" element="tns:findApplicant"/>
</message>
<message name="findApplicantResponse">
<part name="parameters" element="tns:findApplicantResponse"/>
</message>
<message name="findAllApplicants">
<part name="parameters" element="tns:findAllApplicants"/>
</message>
<message name="findAllApplicantsResponse">
<part name="parameters" element="tns:findAllApplicantsResponse"/>
</message>
<message name="createApplicant">
<part name="parameters" element="tns:createApplicant"/>
</message>
<message name="createApplicantResponse">
<part name="parameters" element="tns:createApplicantResponse"/>
</message>
<message name="editApplicant">
<part name="parameters" element="tns:editApplicant"/>
</message>
<message name="editApplicantResponse">
<part name="parameters" element="tns:editApplicantResponse"/>
</message>
<message name="getStatus">
<part name="parameters" element="tns:getStatus"/>
</message>
<message name="getStatusResponse">
<part name="parameters" element="tns:getStatusResponse"/>
</message>
<portType name="UNIONSOAPWebService">
<operation name="removeApplicant">
<input wsam:Action="http://jws.union.com.org/UNIONSOAPWebService/removeApplicantRequest" message="tns:removeApplicant"/>
<output wsam:Action="http://jws.union.com.org/UNIONSOAPWebService/removeApplicantResponse" message="tns:removeApplicantResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.union.com.org/UNIONSOAPWebService/removeApplicant/Fault/Exception"/>
</operation>
<operation name="findApplicant">
<input wsam:Action="http://jws.union.com.org/UNIONSOAPWebService/findApplicantRequest" message="tns:findApplicant"/>
<output wsam:Action="http://jws.union.com.org/UNIONSOAPWebService/findApplicantResponse" message="tns:findApplicantResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.union.com.org/UNIONSOAPWebService/findApplicant/Fault/Exception"/>
</operation>
<operation name="findAllApplicants">
<input wsam:Action="http://jws.union.com.org/UNIONSOAPWebService/findAllApplicantsRequest" message="tns:findAllApplicants"/>
<output wsam:Action="http://jws.union.com.org/UNIONSOAPWebService/findAllApplicantsResponse" message="tns:findAllApplicantsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.union.com.org/UNIONSOAPWebService/findAllApplicants/Fault/Exception"/>
</operation>
<operation name="createApplicant">
<input wsam:Action="http://jws.union.com.org/UNIONSOAPWebService/createApplicantRequest" message="tns:createApplicant"/>
<output wsam:Action="http://jws.union.com.org/UNIONSOAPWebService/createApplicantResponse" message="tns:createApplicantResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.union.com.org/UNIONSOAPWebService/createApplicant/Fault/Exception"/>
</operation>
<operation name="editApplicant">
<input wsam:Action="http://jws.union.com.org/UNIONSOAPWebService/editApplicantRequest" message="tns:editApplicant"/>
<output wsam:Action="http://jws.union.com.org/UNIONSOAPWebService/editApplicantResponse" message="tns:editApplicantResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.union.com.org/UNIONSOAPWebService/editApplicant/Fault/Exception"/>
</operation>
<operation name="getStatus">
<input wsam:Action="http://jws.union.com.org/UNIONSOAPWebService/getStatusRequest" message="tns:getStatus"/>
<output wsam:Action="http://jws.union.com.org/UNIONSOAPWebService/getStatusResponse" message="tns:getStatusResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.union.com.org/UNIONSOAPWebService/getStatus/Fault/Exception"/>
</operation>
</portType>
<binding name="UNIONSOAPWebServicePortBinding" type="tns:UNIONSOAPWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="removeApplicant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="findApplicant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="findAllApplicants">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createApplicant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="editApplicant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="UNIONSOAPWebService">
<port name="UNIONSOAPWebServicePort" binding="tns:UNIONSOAPWebServicePortBinding">
<soap:address location="http://localhost:8080/UNIONSOAPWebService/UNIONSOAPWebService"/>
</port>
</service>
</definitions>