BankRESTServiceApp3/web/WEB-INF/wsdl/Lesego_8080/UnionBankValidatorSOAP/UnionBankValidatorSOAP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jws.validator.ac.za/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://jws.validator.ac.za/" name="UnionBankValidatorSOAP">
<types>
<xsd:schema>
<xsd:import namespace="http://jws.validator.ac.za/" schemaLocation="http://Lesego:8080/UnionBankValidatorSOAP/UnionBankValidatorSOAP?xsd=1"/>
</xsd:schema>
</types>
<message name="fowardClientUser">
<part name="parameters" element="tns:fowardClientUser"/>
</message>
<message name="fowardClientUserResponse">
<part name="parameters" element="tns:fowardClientUserResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="fowardEditUser">
<part name="parameters" element="tns:fowardEditUser"/>
</message>
<message name="fowardEditUserResponse">
<part name="parameters" element="tns:fowardEditUserResponse"/>
</message>
<message name="fowardRemoveUser">
<part name="parameters" element="tns:fowardRemoveUser"/>
</message>
<message name="fowardRemoveUserResponse">
<part name="parameters" element="tns:fowardRemoveUserResponse"/>
</message>
<portType name="UnionBankValidatorSOAP">
<operation name="fowardClientUser">
<input wsam:Action="http://jws.validator.ac.za/UnionBankValidatorSOAP/fowardClientUserRequest" message="tns:fowardClientUser"/>
<output wsam:Action="http://jws.validator.ac.za/UnionBankValidatorSOAP/fowardClientUserResponse" message="tns:fowardClientUserResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.validator.ac.za/UnionBankValidatorSOAP/fowardClientUser/Fault/Exception"/>
</operation>
<operation name="fowardEditUser">
<input wsam:Action="http://jws.validator.ac.za/UnionBankValidatorSOAP/fowardEditUserRequest" message="tns:fowardEditUser"/>
<output wsam:Action="http://jws.validator.ac.za/UnionBankValidatorSOAP/fowardEditUserResponse" message="tns:fowardEditUserResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.validator.ac.za/UnionBankValidatorSOAP/fowardEditUser/Fault/Exception"/>
</operation>
<operation name="fowardRemoveUser">
<input wsam:Action="http://jws.validator.ac.za/UnionBankValidatorSOAP/fowardRemoveUserRequest" message="tns:fowardRemoveUser"/>
<output wsam:Action="http://jws.validator.ac.za/UnionBankValidatorSOAP/fowardRemoveUserResponse" message="tns:fowardRemoveUserResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://jws.validator.ac.za/UnionBankValidatorSOAP/fowardRemoveUser/Fault/Exception"/>
</operation>
</portType>
<binding name="UnionBankValidatorSOAPPortBinding" type="tns:UnionBankValidatorSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="fowardClientUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="fowardEditUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="fowardRemoveUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="UnionBankValidatorSOAP">
<port name="UnionBankValidatorSOAPPort" binding="tns:UnionBankValidatorSOAPPortBinding">
<soap:address location="http://Lesego:8080/UnionBankValidatorSOAP/UnionBankValidatorSOAP"/>
</port>
</service>
</definitions>